@import './reset';
@import './variables';
body, a, input, textarea, select {
	font-family: $font-family;
}
body, input, textarea, select {
	color: $font-primary-color;
}
body {
	background-color: $bg-primary-color;
}

h1, h2, h3, h4 {
	
}
h1 {
	
}
h2 {
	
}
p {
	
}

header {
	
}

main {
	
}

footer {
	
}