$app-primary-color: #000000;
$app-secondary-color: #FFFFFF;

$bg-primary-color: #FFFFFF;
$bg-secondary-color: #F7F7F7;

$font-primary-color: #1D1D1D;
$font-secondary-color: #FFFFFF;
$font-family: Arial, sans-serif;